html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    
  }
  


.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
body{
    background-color: #f1bd81;
}



 #container {
    max-width:960px;
    width:60vw;  
    height:100vh;
    border:2px solid #ccc; 
    margin:50px auto; 
    padding:60px;
    background-image: url("portfolio-img.png");
    background-size:cover;
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    text-align: center;
   
}

h1{
    color: #154f94;
    text-shadow: #f1bd81 1.6px 1.6px;
    font-size: 4rem;
}
ul{
    list-style-type: none;
    line-height: 2.5;
}

a{
    font-size: 1.5rem;
    color: #154f94;
}

@media(max-width: 600px){
    h1{
        font-size: 3.5rem;
    }
    a{
        font-size: 1rem;
    }
}

@media(min-width:800px){
    a{
        text-shadow: #f1bd81 1px 1px;
    }
}