/* ----Box Sizing ---- */
/* html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
  } */
  
  
  @media (min-width: 967px) {
    .carousel-img {
      width: 70% !important;
      margin: 0 auto; /* center the image */
    }
  }

  