/*CSS Custom Properties */
:root{
  --main-bg-color: #ebf9ed;
  --header-color: #713600;
  --accent-color: #fd7962;
}

/*----Box Sizing ----*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
  }
  

/*----Typography----*/
body{
   
   font-family: "Montserrat", sans-serif;
   font-style: normal;
}
  

  
  /* ------ Fluid Images -------*/

img {
  max-width: 100%;
}

/*----Utility Classes---*/
.container{
  max-width:420px;
  margin: 0 auto;
  padding:20px;
  background: var(--main-bg-color);
}

/*---Global Styles -----*/
body{
  line-height:1.9em;
  
}



.headings{
  color:var(--header-color);
  
}

h1{
  text-align: center;
  text-shadow: var(--accent-color) 1.6px 1.6px;

}

h2{
  text-align:center;
  margin-top:20px;
}

h4{
  text-align:center;
  margin-top:15px;
}

nav{
  margin:0 auto;
  background-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
nav ul {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
 
}

nav li{
  list-style:none;
  background-color: var(--accent-color);
  
}

.side-border{
  border-right: 4px solid black;
}

nav ul li a{
  text-decoration:none;
  color: #fff;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 5px;
  padding-left: 5px;
}

nav ul li a:hover{
  background-color: #fff;
  color: var(--accent-color);
 

}

.border-bottom-line{
  border-bottom: 2px solid var(--accent-color);
  padding:10px;
}

dl{
  display:grid;
  /*Defines rows and columns*/
  grid-template: repeat(8, auto) / 8em 1fr;
  font-size:0.9rem;
}

dt{
  font-weight:bold;
  grid-column:1;
  padding:10px 0;
  border-bottom: 2px solid var(--accent-color);
 
}

dd{
  margin:0;
  grid-column: 2;
  padding:10px 0;
  border-bottom: 2px solid var(--accent-color);
}


img.headShotImg{
  border-radius: 80%;
}

 section.social-info{
  
  margin:20px auto;
  padding:20px;

}

section.social-info ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /* ul has default padding and margin remember   */
  
}

section.social-info ul li{
  list-style:none;
} 

section.social-info ul li a{
  text-decoration:none;
  color:#FFF;
  font-weight:bold;
  padding: 10.5px 10px;
  border-radius: 30px;
  background-color: var(--accent-color);
}

section.social-info ul li a:hover{
  background-color: #f9f9f9;
  color: var(--accent-color);
}

 section#skills{
  
  padding:20px;
}

section#experience{

  padding:20px;
}

section#experience a{
  color:var(--accent-color);
  
}
section#education{
  
  padding:20px;
}

footer{
  max-width:420px;
  margin: 0 auto;
  text-align: center;
  padding:20px;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

footer a{
  color:#fff;
  
}

