/*CSS Custom Properties */
:root{
  --main-bg-color: #ebf9ed;
  --header-color: #713600;
  --accent-color: #fd7962;
}

/*----Box Sizing ----*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
  }
  

/*----Typography----*/
body{
   
   font-family: "Montserrat", sans-serif;
   font-style: normal;
  
}
  

  
  

/*----Utility Classes---*/
main.container{
  max-width:420px;
  margin: 0 auto;
  padding:20px;
  background: var(--main-bg-color);
}

/*---Global Styles -----*/
body{
  line-height:1.9em;
  
}



.headings{
  color:var(--header-color);
  
}



#leave-pattern{
  max-width: 100%;
  display:block;
  
}

h1{
  text-align: center;
  text-shadow: var(--accent-color) 1.6px 1.6px;
  margin-top:20px;
  font-style: italic;
}

h2{
  text-align:center;
  margin-top:20px;
}

nav ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 
}

nav li{
  list-style-type:none;
}

.side-border{
  border-right: 4px solid black;
}

nav ul li a:link, nav ul li a:visited{
  display: block;
  border:1px solid #000;
  padding: 8px;
  text-decoration:none;
  font-size:0.9em;
  color: #fff;
  text-align:center;
  font-weight:bold;
  background-color: var(--accent-color);
  transition: background-color 0.6s ease;
  
}

nav ul li a:hover{
  background-color: #fff;
  color: var(--accent-color);
 

}

.border-bottom-line{
  border-bottom: 2px solid var(--accent-color);
  padding:10px;
}

p.bio-summary{
  padding:20px;
  }


dl{
  display:grid;
  /*Defines rows and columns*/
  grid-template: repeat(8, auto) / 8em 1fr;
  font-size:0.9rem;
  padding:20px;
}

dt{
  font-weight:bold;
  grid-column:1;
  padding:10px 0;
  border-bottom: 2px solid var(--accent-color);
 
}

dd{
  
  grid-column: 2;
  padding:10px 0;
  border-bottom: 2px solid var(--accent-color);
}


img.headShotImg{
  border-radius: 80%;
  max-width: 90%;
  margin: 20px auto;
  display: block;
  
}

#about{
  margin-top: 20px;
}


section.social-info{
  
  margin:20px auto;
  padding:20px;

}

section.social-info ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /* ul has default padding and margin remember   */
  
}

section.social-info ul li{
  list-style:none;
} 

section.social-info ul li a{
  text-decoration:none;
  color:#FFF;
  font-weight:bold;
  padding: 10.5px 10px;
  border-radius: 30px;
  background-color: var(--accent-color);
  transition: background-color 0.6s ease;
}

section.social-info ul li a:hover{
  background-color: #f9f9f9;
  color: var(--accent-color);
}


 section#skills{
  
  padding:20px;
  
}

section#experience{

  padding:20px;
 
}


section#education{
  
  padding:20px;
 
}

footer{
  max-width: 420px;
  margin: 0 auto;
  padding:10px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

footer a{
  color:#fff;
  
}


/*----Media Queries----*/



@media screen and (min-width:768px){
  main.container{
    max-width:900px;
  }
  footer{
    max-width:900px;
  }
  #about {
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    grid-template-areas:
    "bio-summary details";
    
    
  }

  .bio-summary{
    grid-area:bio-summary;
  }
  
  .details{
    grid-area:details;
  }

  #professional-stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "skills experience"
    "skills education";
  }

  #skills{
    grid-area:skills;
  }
  #experience{
    grid-area:experience;
  }
  #education{
    grid-area:education;
  }
  
}

