/*CSS Custom Properties */
:root{
  --main-bg-color: #ebf9ed;
  --header-color: #713600;
  --accent-color: #fd7962;
}

/*----Box Sizing ----*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  *{
    margin:0;
    padding:0;
  }
/*----Typography----*/
body{
   font-family: "Open Sans", sans-serif;
}
  

  
  /* ------ Fluid Images -------*/

img {
  max-width: 100%;
}

/*----Utility Classes---*/
.container{
  max-width:420px;
  margin: 0 auto;
  padding:20px;
  background: var(--main-bg-color);
}

/*---Global Styles -----*/
body{
  line-height:1.9em;
  
}


.headings{
  color:var(--header-color);
   
}

h1{
  text-align: center;
}

h2{
  text-align:center;
}

nav{
  padding:1px;
}
nav ul {
  display:flex;
  flex-direction:row;
  margin-left:-40px;
}

nav li{
  padding:15px 15px 15px 15px;

  list-style:none;
  background-color: var(--accent-color);
}

nav ul li a{
  text-decoration:none;
  color: var(--header-color);
  font-weight:bold;
}

.border-bottom-line{
  border-bottom: 2px solid var(--accent-color);
  padding:10px;
}

dl{
  display:grid;
  /*Defines rows and columns*/
  grid-template: repeat(8, auto) / 8em 1fr;
  font-size:0.9rem;
}

dt{
  font-weight:bold;
  grid-column:1;
  padding:10px 0;
  border-bottom: 2px solid var(--accent-color);
 
}

dd{
  margin:0;
  grid-column: 2;
  padding:10px 0;
  border-bottom: 2px solid var(--accent-color);
}
img{
  border-radius: 60%;
}

 section.social-info{
max-width:420px;
margin: 0 auto;

}

section.social-info ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /* ul has default padding and margin remember   */
  margin:0;
  padding:0;
}

section.social-info ul li{
  list-style:none;
} 



